@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,200;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;700&display=swap');
:root {
    --grey-light:#ececec;
    --grey:#676767;
    --prink:#ff027b;
    --grreen: #00e879;
    --grreen-dark: #00ce6b;
    --rred: #ff211c;
    --rred-dark: #ff0802;
}

body{
    /* font-family: 'Piazzolla', serif; */
    font-family: 'Piazzolla', serif;
    font-weight: 500;
    background-color: var(--grey-light);
}

h1,h2,h3,h4,h5{
    
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

body, h1,h2,h3,h4,h5,p{
cursor: default;
}

.navbar .form-control{
    outline: 0;
    font-family: 'Piazzolla', FontAwesome;
}
.navbar .form-control:focus {
    color: black;
    font-weight: 700;
    background-color: #fff;
    border-color: var(--prink);
    outline: 0;
    box-shadow: 1px 1px 1px var(--prink);
}
.navbar-collapse{
    flex-direction: row-reverse;
}
.nav-background{
    background: var(--prink);
}
.navbar-toggler-icon{
    color: white;
}


.music-list .fa-thumbs-down:hover{
    color: var(--rred);    
}
.music-list .fa-thumbs-down-active{
    color: var(--rred-dark);    
}

.music-list .fa-thumbs-up:hover{
    color: var(--grreen);
}

.music-list .fa-thumbs-up-active{
    color: var(--grreen-dark);
}

.thead-prink{
    background-color: var(--prink);
    color: white;
    font-family: 'Oswald', sans-serif;
}

i.jplayer{
    color: var(--prink);
    cursor: pointer;
    display: table-cell;
}

span.number{
    font-size: 15px;
}

.music-list .fa-thumbs-up,.music-list .fa-thumbs-down{
    display: table-cell;
}

@media (min-width: 576px){
.d-sm-table-cell {
    display: table-cell!important; 
}
}